@use "@econ/frontend-framework/dist/sass/colors" as c;
@use "@econ/frontend-framework/dist/sass/variables" as vars;
@use "@econ/frontend-framework/dist/sass/breakpoints";


:root {
    --fc-today-bg-color: #fefad1;
}

.fc {
    [class*=grid-] {
        gap: 0;
    }

    .fc-scrollgrid-liquid,
    .fc-scrollgrid-section,
    .fc-scrollgrid-section-header {
        display: inherit;
    }

    table[class*=grid-] {
        display: table;
    }

    tr[class*=grid-] {
        display: table-row;
    }

    td[class*=grid-] {
        display: table-cell;
    }

    .fc-daygrid-event,
    .fc-daygrid-event-harness {
        display: block;
    }

    .fc-daygrid-dot-event {
        display: flex;
    }

    .fc-daygrid-day-frame {
        display: flex;
        flex-direction: column;
    }

    .fc-daygrid-day-events {
        display: block;
    }

    .fc-toolbar-title {
        @extend .heading-3 !optional
    }

    .fc-event-time {
        overflow: visible;
    }

    .fc-event-main {
        cursor: pointer;
    }

    .fc-list-event-title>*:last-child {
        float: inline-end;
    }

    .fc-list-sticky .fc-list-day.fc-day-today>th {
        background-color: var(--fc-today-bg-color);
    }
}

// Week view
.fc-timegrid-event-harness .fc-event {
    max-width: 100%;
    overflow: hidden;
}

.tippy-content {
    min-width: 19rem;

    .card {
        flex-grow: 1;
    }
}

.fc-tooltip {
    display: flex;
    gap: 0;

    .arrow {
        width: 1rem;
        fill: c.$grey-dark;
    }
}

.main-nav .dropdown {
    z-index: 5;
}

.notification-fixed {
    z-index: 10;
}

:root {
    --fc-button-bg-color: #{c.$color-primary};
    --fc-button-border-color: #{c.$color-primary-dark};
    --fc-button-hover-bg-color: #{c.$color-primary-light};
    --fc-button-hover-border-color: #{c.$color-primary-dark};
    --fc-button-active-bg-color: #{c.$color-primary-light};
    --fc-button-active-border-color: #{c.$color-primary-dark};
}

@include breakpoints.econ-until(breakpoints.$tablet-breakpoint) {
    .fc-header-toolbar {
        flex-direction: column;

        .fc-toolbar-title {
            font-size: vars.$base-font-size;
        }

        .fc-button {
            font-size: vars.$font-size-sm;
        }

        &>.fc-toolbar-chunk {
            margin-top: vars.$space-md;
        }

        &>.fc-toolbar-chunk:nth-child(2) {
            order: -1;
        }
    }

    .fc-list-day-cushion {
        display: flex;
        gap: vars.$space-lg;
    }

}
