@import "npm:@econ/frontend-framework/dist/main.css";

:root {
  --space-base: 1rem;
}

.site-header,
.site-main,
.site-footer {
  padding: var(--space-base);
}

@keyframes input-success {
  from {
    box-shadow: 0px 0px 5px 0px var(--success-default);
  }

  to {
    box-shadow: 0px 0px 5px 0px rgba(0, 128, 0, 0);
  }
}

.input.success {
  animation-name: input-success;
  animation-duration: 2s;
}

@keyframes input-error {
  from {
    box-shadow: 0px 0px 5px 0px var(--failure-default);
  }

  to {
    box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0);
  }
}

input.error {
  animation-name: input-error;
  animation-duration: 2s;
}

.error-message {
  color: var(--failure-default);
}
