input {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

@keyframes input-success {
    from {
        box-shadow: 0px 0px 5px 0px rgba(0, 128, 0, 1);
    }

    to {
        box-shadow: 0px 0px 5px 0px rgba(0, 128, 0, 0);
    }
}

input.success {
    animation-name: input-success;
    animation-duration: 2s;
}

@keyframes input-error {
    from {
        box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 1);
    }

    to {
        box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0);
    }
}

input.error {
    animation-name: input-error;
    animation-duration: 2s;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
}
