@econ:registry=https://gitlab.uzh.ch/api/v4/packages/npm/
//gitlab.uzh.ch/api/v4/packages/npm/:_authToken=${ECON_PACKAGE_REGISTRY_READ_TOKEN}
//gitlab.uzh.ch/api/v4/projects/662/packages/npm/:_authToken=${ECON_PACKAGE_REGISTRY_READ_TOKEN}
