pin-depends: [
  ["sihl.3.0.4" "https://github.com/oxidizing/sihl.git"]
  ["sihl-cache.3.0.4" "https://github.com/oxidizing/sihl.git"]
  ["sihl-email.3.0.4" "https://github.com/oxidizing/sihl.git"]
  ["sihl-queue.3.0.4" "https://github.com/oxidizing/sihl.git"]
  ["sihl-storage.3.0.4" "https://github.com/oxidizing/sihl.git"]
  ["sihl-token.3.0.4" "https://github.com/oxidizing/sihl.git"]
  ["sihl-user.3.0.4" "https://github.com/oxidizing/sihl.git"]
  ["canary.0.0.1" "https://github.com/uzh/canary.git"]
  ["conformist.0.8.1" "https://github.com/oxidizing/conformist.git"]
  ["guardian.0.0.1" "https://github.com/uzh/guardian.git"]
]
