$icons-font-path: "../node_modules/@econ/frontend-framework/dist/font";
@import "../node_modules/@econ/frontend-framework/dist/main.scss";

// Index page
.index-page>*:nth-child(2) {
    flex-basis: 25%;
    flex-shrink: 0;
}

@include mobile {
    .index-page {
        flex-direction: column;
    }
}

// Mailings toggle
.toggled {
    display: flex;
}

.toggle-address:checked~.toggled {
    display: none;
}

// Filter
.key-select {
    flex-basis: calc(calc(100% - (2 * $space-base)) / 3);
}

.predicate {
    background-color: rgba(0, 0, 0, 0.02);
    position: relative;
}

.switcher-sm>* {
    flex-basis: calc((24rem - 100%)*999);
}

[data-delete-predicate] {
    color: $red;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    margin: 0;
    cursor: pointer;
}

@supports (display: grid) {
    .grid-col-4 {
        grid-template-columns: repeat(4, 1fr);

        @include until($tablet-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
