@use "sass:color";
$font-path: "../node_modules/@econ/frontend-framework/dist/font";
@import "../node_modules/@econ/frontend-framework/dist/main.scss";
@import "./admin/calendar";

$green-lighter: color.adjust($green, $lightness: $color-shades-ratio * 3);
$red-lighter: color.adjust($red, $lightness: $color-shades-ratio * 3);

$green-light: color.adjust($green, $lightness: $color-shades-ratio * 2);
$red-light: color.adjust($red, $lightness: $color-shades-ratio * 2);

$orange: rgb(226, 117, 0) !default;

// Typography
h1,
.heading-1 {
    word-wrap: break-word;
}

.color-orange,
[class*="orange-on-"] {
  color: $orange;
}

ul.no-style {
    list-style: none;
    padding: 0;
}

[class*="inset"].top {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

form[class*="stack"] input[type="hidden"]+* {
    margin-top: 0;
}

.form-group.horizontal.wrap.flex-gap {
    row-gap: 0;
}

.form-group .help {
    @extend .flexcolumn;
}

// Index page
.index-page>*:nth-child(2) {
    flex-basis: 25%;
    flex-shrink: 0;
}

@include mobile {
    .index-page {
        flex-direction: column;
    }
}

// Mailings toggle
.toggled {
    display: flex;
}

// Filter
.switcher-sm>* {
    flex-basis: calc((24rem - 100%)*999);
}

#filter-form {

    label,
    input,
    select {
        font-size: $small-font-size;
    }

    .key-select {
        flex-basis: calc(calc(100% - (2 * $space-base)) / 3);
    }

    .border {
        border-color: #d7d7d7;
    }

    .predicate {
        background-color: rgba(0, 0, 0, 0.02);
        position: relative;

        &[data-predicate="and"],
        &[data-predicate="or"] {
            &>.predicate-inner>.predicate-wrapper {
                padding-left: $space-sm;
                border-left: 2px solid $grey-border;
            }
        }
    }

    [data-delete-predicate] {
        color: $red;
        cursor: pointer;
    }

    [data-new-predicate] button {
        padding: $space-xs $space-sm;
    }
}

@supports (display: grid) {
    .grid-col-4 {
        grid-template-columns: repeat(4, 1fr);

        @include until($tablet-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.hide-empty:empty {
    display: none;
}

#filter-form,
#role-search-form {
    [data-query="input"] {
        [data-id] {
            cursor: pointer;
        }
    }

    .data-list>[data-selection-item] {
        @extend .has-icon;
        padding: $space-sm;

        &:hover {
            background-color: $grey-light;
        }

        .toggle-item {
            display: none;
        }
    }

    input[disabled] {
        cursor: not-allowed;
    }
}

[data-search-selection] {
    row-gap: $space-xs;
    column-gap: $space-sm;
}

// Flex
.flexcolumn-reversed-tablet {
    &>* {
        flex-basis: 50%;
    }

    @include until($tablet-breakpoint) {
        flex-direction: column-reverse;
    }
}

abbr[title] {
    text-decoration: none;
}

// CK Editor
.form-group:not(.horizontal)>*~.ck {
    margin-top: $space-xs;
}

.ck-content {
    @extend textarea;
}

// Typography
.nobr {
    white-space: nowrap;
}

// Color
.table.striped tr:nth-child(1n).bg-green-lighter {
    background-color: $green-lighter;
}

.table.striped tr:nth-child(1n).bg-red-lighter {
    background-color: $red-lighter;
}

.table tr.highlighted {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $black;
        opacity: 0.05;
    }

    a,
    form {
        z-index: 5;
    }
}

.legend-item {
    width: $space-base;
    display: flex;
    justify-content: center;
}

.legend-color {
    @extend .border
}

button.as-link {
    padding: 0;
    border: none;
    color: $color-primary;
    background-color: transparent;

    &:hover {
        color: $color-primary;
        background-color: transparent;
    }
}

// Tags
.tag button {
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    display: flex;

    &:hover {
        background-color: transparent;
    }
}

// Logo
.app-title {
    font-weight: $font-weight-bold;
    font-size: ms-font-size(2);

    a {
        color: $color-text-dark;
        text-decoration: none;
    }
}

// Table
table.fixed {
    table-layout: fixed;
}

// Copy to clipboard
[data-clipboard] {
    cursor: copy;
}

// Flex grid
.flex-basis-100 {
    flex-basis: 100%;
}

.flex-basis-40 {
    flex-basis: 40%;
}

.flex-basis-30 {
    flex-basis: 30%;
}

.flex-basis-20 {
    flex-basis: 20%;
}

table.simple {
    tbody tr:not(:last-child) th {
        border-bottom: $border-width solid $grey-border;
    }
}

[data-statistics] .table.simple th {
    font-weight: $font-weight-normal;
    padding-left: 0;
}

.session-close-checkboxes {
    @extend .flexrow;
    @extend .flex-gap;
    width: 5rem;
    align-items: flex-start;
    padding-top: $space-xs;

    &>* {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
    }
}

// Modal
.assignment-reminder-modals .modal-body {
    width: 500px;
    max-width: 100%;
}

// Live Search
.data-list.relative {
    display: none;
    position: relative;

    &.active {
        display: flex;
    }
}

.data-list>.data-item.bg-red-lighter {

    &,
    &:hover {
        background-color: $red-lighter;
    }
}

.cursor-default {
    cursor: default;
}

// Button dropdown
.button-list.left .dropdown {
    right: auto;
    left: 0;
    transform: translateX(-100%);
}

// Sortable
[data-sortable-item]>*:not(:first-child) {
    flex-grow: 1;
}

// Navigation
.main-nav .dropdown {
    z-index: 12;
}

.note+* {
    margin-top: $space-base;
}

.collapsible.note .collapsible-title {
    gap: $space-base;
}

.note.active .collapsible-header i[class*="icon-help"] {
    transform: rotate(0);
}

.has-icon.flex-gap-xs {
    gap: $space-xs;
}

// Session list
@include mobile {
    .session-list.break-mobile {
        td>.inset.left {
            padding: 0;
        }

        td[data-label] {
            flex-direction: row;
            gap: $space-sm;

            &:before {
                width: 50%;
            }
        }

        .follow-up {
            padding-left: $space-base;
        }

        .button-list {
            margin: 0;

            .btn,
            button {
                padding: 0;
            }
        }

        .has-dropdown {
            cursor: auto;

            &>.btn {
                display: none;
            }
        }

        .dropdown {
            position: relative;
            background: none;
            padding: 0;
            box-shadow: none;
            display: flex;
            left: 0;
            transform: translate(0);

            li {
                padding: 0;
            }

            li+li {
                margin-top: $space-sm;
            }
        }
    }
}
