@use "sass:color";
$font-path: "../node_modules/@econ/frontend-framework/dist/font";
@import "../node_modules/@econ/frontend-framework/dist/main.scss";
@import "./admin/calendar";

$orange: rgb(226, 117, 0) !default;

// Typography
h1,
.heading-1 {
    word-wrap: break-word;
}

code {
    font-size: inherit;
}

@include mobile {

    *+h1,
    h1+*,
    *+h2,
    *+.heading-1,
    .heading-1+*,
    *+.heading-2 {
        margin-top: $space-md;
    }
}


.word-wrap-break {
    -ms-word-break: break-word;

    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.color-orange,
[class*="orange-on-"] {
    color: $orange;
}

ul.no-style {
    list-style: none;
    padding: 0;
}

[class*="inset"].top {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

@include mobile {
    .sm-inset-lg {
        padding: $space-lg;
    }
}

form[class*="stack"] input[type="hidden"]+* {
    margin-top: 0;
}

.form-group.horizontal.wrap.flex-gap {
    row-gap: 0;
}

.form-group .help {
    @extend .flexcolumn;
}

.datepicker-msg:empty {
    display: none;
}

.grouped-input {
    border-radius: $border-radius;
    border: 1px solid $grey;
    overflow: hidden;

    select,
    input {
        border: none;
        border-radius: 0;
    }

    &>* {
        width: auto;
    }

    &>.select select {
        padding-right: $space-base * 2;
        width: auto;
        background-color: $grey-light;
        border-left: 1px solid $grey;
    }
}

input[readonly],
select[readonly] {
    background-color: $grey-light;
    color: $grey-dark;
    cursor: not-allowed;

    &:hover {
        background-color: $grey-light;
    }
}

// Index page
.index-page>*:nth-child(2) {
    flex-basis: 25%;
    flex-shrink: 0;
}

@include mobile {
    .index-page {
        flex-direction: column;
    }
}

// Mailings toggle
.toggled {
    display: flex;
}

// Filter
.switcher-sm>* {
    flex-basis: calc((24rem - 100%)*999);
}

#filter-form {

    label,
    input,
    select {
        font-size: $small-font-size;
    }

    .key-select {
        flex-basis: calc(calc(100% - (2 * $space-base)) / 3);
    }

    .border {
        border-color: #d7d7d7;
    }

    .predicate {
        background-color: rgba(0, 0, 0, 0.02);
        position: relative;

        &[data-predicate="and"],
        &[data-predicate="or"] {
            &>.predicate-inner>.predicate-wrapper {
                padding-left: $space-sm;
                border-left: 2px solid $grey-border;
            }
        }
    }

    [data-delete-predicate] {
        color: $red;
        cursor: pointer;
    }

    [data-new-predicate] button {
        padding: $space-xs $space-sm;
    }
}

.filter-bar-reset {
    grid-column: 4;

    @include until($desktop-breakpoint) {
        grid-column: 2;
    }

    @include until($tablet-breakpoint) {
        grid-column: 1;
    }
}

@include until($tablet-breakpoint) {
    [class*="grid-"] .search-bar {
        grid-column: span 1;
    }
}

.hide-empty:empty {
    display: none;
}

#filter-form,
#role-search-form {
    [data-query="input"] {
        [data-id] {
            cursor: pointer;
        }
    }

    .data-list>[data-selection-item] {
        @extend .has-icon;
        padding: $space-sm;

        &:hover {
            background-color: $grey-light;
        }

        .toggle-item {
            display: none;
        }
    }

    input[disabled] {
        cursor: not-allowed;
    }
}

[data-search-selection] {
    row-gap: $space-xs;
    column-gap: $space-sm;
}

// Flex
.flexcolumn-reversed-tablet {
    &>* {
        flex-basis: 50%;
    }

    @include until($tablet-breakpoint) {
        flex-direction: column-reverse;
    }
}

abbr[title] {
    text-decoration: none;
}

// CK Editor
.form-group:not(.horizontal)>*~.ck {
    margin-top: $space-xs;
}

.ck-content {
    @extend textarea;
}

// Typography
.nobr {
    white-space: nowrap;
}

.word-break-all {
    word-break: break-all;
}

// Color
.table.striped tr:nth-child(1n).bg-green-lighter {
    background-color: $green-lighter;
}

.table.striped tr:nth-child(1n).bg-red-lighter {
    background-color: $red-lighter;
}

.table tr.highlighted {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $black;
        opacity: 0.05;
    }

    a,
    form {
        z-index: 5;
    }
}

.legend-item {
    width: $space-base;
    display: flex;
}

.legend-color {
    @extend .border
}

button.as-link {
    padding: 0;
    border: none;
    color: $color-primary;
    background-color: transparent;

    &:hover {
        color: $color-primary;
        background-color: transparent;
    }
}

// Tags
.tag button {
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    display: flex;

    &:hover {
        background-color: transparent;
    }
}

// Logo
.app-title {
    font-weight: $font-weight-bold;
    font-size: ms-font-size(2);

    a {
        color: $color-text-dark;
        text-decoration: none;
    }
}

// Table
table.fixed {
    table-layout: fixed;
}

table.width-auto {
    width: auto;
}

@include mobile {
    .table.break-mobile th {
        display: none;
    }
}

// Copy to clipboard
[data-clipboard] {
    cursor: copy;
}

// Flex grid
.flex-basis-100 {
    flex-basis: 100%;
}

.flex-basis-40 {
    flex-basis: 40%;
}

.flex-basis-30 {
    flex-basis: 30%;
}

.flex-basis-20 {
    flex-basis: 20%;
}

table.simple {
    tbody tr:not(:last-child) th {
        border-bottom: $border-width solid $grey-border;
    }
}

[data-statistics] .table.simple th {
    font-weight: $font-weight-normal;
    padding-left: 0;
}

.session-close-checkboxes {
    display: flex;
    width: 9rem;
    justify-content: flex-end;
    padding-top: $space-xs;
    margin-left: auto;

    &>* {
        flex-basis: 3rem;
        display: flex;
        justify-content: center;
    }
}

.session-close-box {
    width: 3rem;
}

#session-close-table .custom-data {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    &>* {
        flex-direction: row;
        flex-basis: 100%;
    }

    &>*+* {
        margin-top: $space-xs;
    }

    [data-label]:before {
        content: attr(data-label);
        width: 50%;
        font-weight: 600;
    }
}

@include mobile {

    .session-close-header .custom-data>* {
        display: none;
    }

    #session-close-table .striped {
        &>* {
            flex-direction: column;

            &>*+* {
                margin-top: $space-sm;
            }
        }

        &>*>* {
            width: 100%;
        }
    }
}

// Modal
.assignment-reminder-modals .modal-body {
    width: 500px;
    max-width: 100%;
}

// Live Search
.data-list.relative {
    display: none;
    position: relative;

    &.active {
        display: flex;
    }
}

.data-list>.data-item.bg-red-lighter {

    &,
    &:hover {
        background-color: $red-lighter;
    }
}

.cursor-default {
    cursor: default;
}

// Button dropdown
.button-list.left .dropdown {
    right: auto;
    left: 0;
    transform: translateX(-100%);
}

// Sortable
[data-sortable-item]>*:not(:first-child) {
    flex-grow: 1;
}

// Navigation
.main-nav .dropdown {
    z-index: 12;
}

.note+* {
    margin-top: $space-base;
}

.collapsible.note .collapsible-title {
    gap: $space-base;
}

.note.active .collapsible-header i[class*="icon-help"] {
    transform: rotate(0);
}

.has-icon.flex-gap-xs {
    gap: $space-xs;
}

// Session list
@include mobile {
    .session-list.break-mobile {
        td>.inset.left {
            padding: 0;
        }

        td[data-label] {
            flex-direction: row;
            gap: $space-sm;

            &:before {
                width: 50%;
            }
        }

        .follow-up {
            padding-left: $space-base;
        }

        .button-list {
            margin: 0;

            .btn,
            button {
                padding: 0;
            }
        }

        .has-dropdown {
            cursor: auto;

            &>.btn {
                display: none;
            }
        }

        .dropdown {
            position: relative;
            background: none;
            padding: 0;
            box-shadow: none;
            display: flex;
            left: 0;
            transform: translate(0);

            li {
                padding: 0;
            }

            li+li {
                margin-top: $space-sm;
            }
        }
    }
}

// Display EMail Template rich text
.force-normalize-fonts {

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: $body-font-size;
    }
}

// WORKAROUND: Could be added to the framework
// Width base classes
$i: 1;
$n: 12;

@while $i < $n +1 {
    .w-#{$i} {
        width: percentage(calc(1 / $n) * $i);
    }

    $i: $i + 1;
}

@include until($tablet-breakpoint) {
    [class*='grid-col-'] [class*='span-'] {
        grid-column: span 1;
    }
}

[class*='grid-col-'].stretch-only-child>*:only-child {
    grid-column: 1 / -1;
}

.break-grid {
    grid-column: 1;
}

.announcement {
    .close {
        float: right;
        margin-left: $space-sm;
    }

    @include mobile {
        display: flex;
        flex-direction: column-reverse;

        .close {
            margin-left: 0;
            margin-top: $space-sm;
            float: none;
        }
    }
}

.notification.error a,
.notification.success a {
    color: $white;
}

input[type="checkbox"][readonly] {
    filter: grayscale(1);
    opacity: 0.8;
}


// Changelog
.changes-cell {
    div {
        display: flex;
    }

    div:last-child {
        flex-grow: 1;
    }

    .changelog-separator {
        padding-left: $space-xs;
        padding-right: $space-xs;
    }

    .changelog-key {
        text-transform: capitalize;
    }
}

