$icons-font-path: "../node_modules/@econ/frontend-framework/dist/font";
@import "../node_modules/@econ/frontend-framework/dist/main.scss";

// Index page
.index-page>*:nth-child(2) {
    flex-basis: 25%;
    flex-shrink: 0;
}

@include mobile {
    .index-page {
        flex-direction: column;
    }
}

// Mailings toggle
.toggled {
    display: flex;
}

.toggle-address:checked~.toggled {
    display: none;
}

// Filter
.switcher-sm>* {
    flex-basis: calc((24rem - 100%)*999);
}

#filter-form {

    label,
    input,
    select {
        font-size: $small-font-size;
    }

    .key-select {
        flex-basis: calc(calc(100% - (2 * $space-base)) / 3);
    }

    .border {
        border-color: #d7d7d7;
    }

    .predicate {
        background-color: rgba(0, 0, 0, 0.02);
        position: relative;

        &[data-predicate="and"],
        &[data-predicate="or"] {
            &>.predicate-inner>.predicate-wrapper {
                padding-left: $space-sm;
                border-left: 2px solid $grey-border;
            }
        }
    }

    [data-delete-predicate] {
        color: $red;
        cursor: pointer;
    }

    [data-new-predicate] button {
        padding: $space-xs $space-sm;
    }
}

@supports (display: grid) {
    .grid-col-4 {
        grid-template-columns: repeat(4, 1fr);

        @include until($tablet-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.hide-empty:empty {
    display: none;
}

#filter-form {
    [data-query="input"] {
        [data-id] {
            cursor: pointer;
        }

        .toggle-item {
            color: $green;
            transform: rotate(45deg)
        }
    }

    [data-query="results"] .toggle-item {
        color: $red;
        cursor: pointer;
    }
}

// Color
.bg-red-lighter,
[class*="-on-red-lighter"] {
    background-color: $red-lighter;
}

// Flex
.flex-basis-100 {
    flex-basis: 100%;
}

abbr[title] {
    text-decoration: none;
}

// CK Editor
.form-group:not(.horizontal)>*~.ck {
    margin-top: $space-xs;
}

.ck-content {
    @extend textarea;
}

// Typography

a.undecorated {
    border: none;
    text-decoration: none;
}
