version: "3.8"

services:
  dev:
    container_name: pool-tool-dev
    build:
      context: .
      dockerfile: ocaml-container/Dockerfile
    volumes:
      # default user is "opam"
      - ..:/workspace:cached
      - node_modules:/workspace/node_modules:cached
      - opam:/home/opam/.opam:cached
      - build:/workspace/_build:cached
      - ${HOME}${USERPROFILE}/.ssh:/home/opam/.ssh
      - ${HOME}${USERPROFILE}/.gitconfig:/home/opam/.gitconfig
      - ${HOME}${USERPROFILE}/.gitignore_global:/home/opam/.gitignore_global
      - /var/run/docker.sock:/var/run/docker.sock
      # Add database folders to dev container
      - db-root:/databases/db-root/:ro
      - db-tenant:/databases/db-tenant/:ro
    environment:
      - DATABASE_URL=mariadb://root@database-root:3306/development
      - DATABASE_URL_TENANT_TEST=mariadb://root@database-tenant:3306/test_econ
      - DATABASE_SKIP_DEFAULT_POOL_CREATION=true
      - DATABASE_CHOOSE_POOL=root
      - OPAMSOLVERTIMEOUT=180
      - PUBLIC_URL=http://localhost:3016
      - SMTP_SENDER=test@econ.uzh.ch
      - VERSION=dev
      - EMAIL_RATE_LIMIT=100
      - MATCHER_MAX_CAPACITY=80
      - MATCHER_RUN=false
    depends_on:
      - database-root
      - database-tenant
      - mailtrap
      - rabbitmq
    ports:
      - 3016:3000
      - 3017:3000
    command: sleep infinity

  worker:
    container_name: pool-tool-worker
    build:
      context: .
      dockerfile: worker-container/Dockerfile
    volumes:
      - ..:/workspace:cached
      - ${HOME}${USERPROFILE}/.ssh:/home/opam/.ssh
      - ${HOME}${USERPROFILE}/.gitconfig:/home/opam/.gitconfig
      - ${HOME}${USERPROFILE}/.gitignore_global:/home/opam/.gitignore_global
    environment:
      - PYTHONPATH=/workspace/worker-src
      - FLASK_APP=worker.app
      - FLASK_ENV=development
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=user
      - RABBITMQ_PASSWORD=password
    depends_on: [ rabbitmq ]
    ports: [ "5016:5016" ]
    command: sleep infinity

  database-root:
    image: mariadb:10.6
    command: --max_allowed_packet=629145600
    ports: [ 3316:3306 ]
    environment:
      - TZ=Europe/Zurich
      - MYSQL_ALLOW_EMPTY_PASSWORD='yes'
      - MYSQL_ROOT_HOST=%
      - MYSQL_DATABASE=development
      - MYSQL_USER=root
    volumes:
      - db-root:/var/lib/mysql
      - ./init_root:/docker-entrypoint-initdb.d/:ro

  database-tenant:
    image: mariadb:10.6
    command: --max_allowed_packet=629145600
    ports: [ 3317:3306 ]
    environment:
      - TZ=Europe/Zurich
      - MYSQL_ALLOW_EMPTY_PASSWORD='yes'
      - MYSQL_ROOT_HOST=%
      - MYSQL_DATABASE=dev_econ
      - MYSQL_USER=root
    volumes:
      - db-tenant:/var/lib/mysql
      - ./init_tenant:/docker-entrypoint-initdb.d/:ro

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  adminer:
    image: adminer:standalone
    restart: always
    ports: [ 8080:8080 ]
    depends_on:
      - database-root
      - database-tenant

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8082:80
    environment:
      - PMA_ARBITRARY=1
    depends_on:
      - database-root
      - database-tenant

  mailtrap:
    image: mailhog/mailhog
    container_name: mailtrap-pool
    hostname: mailtrap-pool
    ports:
      - "1026:1025"
      - "8026:8025"

volumes:
  opam:
  node_modules:
  build:
  db-root:
  db-tenant:
